
<div class= "container text-center">
  <h1>About Page</h1>
  <p>We are DevMatch. Our company focuses on creating an exclusive community for developers and entrepeneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, voluptatum, ea, distinctio, odio mollitia earum consequuntur velit explicabo corrupti blanditiis ducimus similique totam molestiae vitae neque repudiandae animi vel numquam!</p>
</div>